body{

background-image: url("https://tayogi.github.io/home/image/togetsu.jpg");
background-size: contain;
width:100%;                              /* 横幅のサイズを指定    */
height:400px; 

}
.ti{
	font-size: 20px;
	color: red;
}
.seyogi{
	font-size: 20px;
}
.page2{
	font-size: 20px;
}
https://tayogi.github.io/home/https://tayogi.github.io/home/
色 css
