body{

background-image: url("https://tayogi.github.io/home/image/togetsu.jpg");

}
.ti{
	font-size: 20px;
	color: red;
}
.seyogi{
	font-size: 20px;
}
.page2{
	font-size: 20px;
}
https://tayogi.github.io/home/https://tayogi.github.io/home/
